.cache/
.python-environments/
/.last-package-update-day
/.lsp-session-v1
/.org-id-locations
/README.html
/ac-comphist.dat
/amx-items
/bookmarks
/emacs_backtrace
/org-tut.org
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/tramp
auto-save-list/
autosaves/
backups/
elpa/
eshell/
/eclipse.jdt.ls/
server/
speed-type/
transient/history.el
url/
workspace/
/request/curl-cookie-jar
/.emacs.desktop
/.emacs.desktop.lock
/history
/custom-set-variables.el
/python-language-server/
/pyim/
