/.backup/
/.cache/
/.last-package-update-day
/amx-items
/auto-save-list/
/bookmarks
/custom-set-variables.el
/eaf/
/early-init-do-not-edit/
/elpa/
/mu4e/
/places
/projectile-bookmarks.eld
/recentf
/tramp
/transient/history.el
/network-security.data
/.lsp-session-v1
/pyim/
/.dap-breakpoints
/eshell/
/%backup%~
/.emacs.desktop
/.org-id-locations
/eln-cache/
/url/
/request/
/hackernews/
/init-private.el
/emojis/
/org-roam.db
