[submodule "site-elisp/color-rg"]
	path = site-elisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "site-elisp/awesome-pair"]
	path = site-elisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-elisp/header2"]
	path = site-elisp/header2
	url = https://github.com/emacsmirror/header2.git
[submodule "site-elisp/grep-dired"]
	path = site-elisp/grep-dired
	url = https://github.com/manateelazycat/grep-dired.git
[submodule "site-elisp/leetcode.el"]
	path = site-elisp/leetcode.el
	url = https://github.com/kaiwk/leetcode.el.git
