.cache/
.python-environments/
/.last-package-update-day
/.lsp-session-v1
/.org-id-locations
/README.html
/amx-items
/ac-comphist.dat
/bookmarks
/emacs_backtrace
/org-tut.org
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/tramp
auto-save-list/
autosaves/
backups/
elpa/
eshell/
irony/bin/irony-server.exe
server/
speed-type/
transient/history.el
url/
workspace/