[submodule "site-elisp/color-rg"]
    path = site-elisp/color-rg
    url = https://github.com/manateelazycat/color-rg.git
[submodule "site-elisp/awesome-pair"]
    path = site-elisp/awesome-pair
    url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-elisp/header2"]
    path = site-elisp/header2
    url = https://github.com/emacsmirror/header2.git
[submodule "site-elisp/grep-dired"]
    path = site-elisp/grep-dired
    url = https://github.com/manateelazycat/grep-dired.git
[submodule "site-elisp/leetcode.el"]
    path = site-elisp/leetcode.el
    url = https://github.com/kaiwk/leetcode.el.git
[submodule "site-elisp/delete-block"]
    path = site-elisp/delete-block
    url = https://github.com/manateelazycat/delete-block.git
[submodule "site-elisp/instant-rename-tag"]
    path = site-elisp/instant-rename-tag
    url = https://github.com/manateelazycat/instant-rename-tag.git
[submodule "site-elisp/emacs-application-framework"]
    path = site-elisp/emacs-application-framework
    url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "site-elisp/multi-term"]
    path = site-elisp/multi-term
    url = https://github.com/manateelazycat/multi-term.git
[submodule "site-elisp/epaint"]
    path = site-elisp/epaint
    url = https://github.com/chuntaro/epaint.git
[submodule "site-elisp/aweshell"]
	path = site-elisp/aweshell
	url = https://github.com/MatthewZMD/aweshell.git
[submodule "site-elisp/snow.el"]
	path = site-elisp/snow.el
	url = https://github.com/alphapapa/snow.el.git
[submodule "site-elisp/mu4e-thread-folding"]
	path = site-elisp/mu4e-thread-folding
	url = https://github.com/rougier/mu4e-thread-folding.git
[submodule "site-elisp/popweb"]
	path = site-elisp/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-elisp/indent-bars"]
	path = site-elisp/indent-bars
	url = https://github.com/jdtsmith/indent-bars.git
